.navbar{
    display: flex;
    gap: 10px;
    justify-content: right;
    margin-right: 50px;
}
.navbar li{
    list-style: none;
    padding: 5px;
}
.navbar li a{
    text-decoration: none;
    color: white;

}