.productdetail{
    display: flex;
    justify-content: left;
    align-items: start ;
    text-align: left;
}
.producttitle{
    margin-top: 20px;
    margin-bottom: 20px;
}
.productdescription{
    margin-bottom: 20px;
}
.productdetail img{
   width: 400px;
   height: 400px;
   text-align: center;
}
.productinfo{
    width: 40%;
}
.addtocart{
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: #28A745;
    border:1px solid white
}