.productdetail{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    align-items: start ;
    text-align: left;
}
.producttitle{
    margin-top: 20px;
    margin-bottom: 20px;
}
.productdescription{
    margin-bottom: 20px;
}
.productdetail img{
   width: 400px;
   height: 400px;
   text-align: center;
}
.productinfo{
    width: 50%;
}
.addtocart{
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: #28A745;
    border:1px solid white
}
.checkout{
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: blue;
    border:1px solid white
}
@media (max-width: 814px) {
    .addtocart,.checkout{
        margin-bottom: 20px;
    }
}